### Absenteeism - US - Logistic Regression

In [1]:
import pandas as pd
import numpy as np

In [3]:
data_preprocessed = pd.read_csv('Absenteeism-preprocessed.csv')
data_preprocessed.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pet,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2

## Create Targets

In [4]:
data_preprocessed['Absenteeism Time in Hours'].median()

3.0

In [10]:
targets = np.where(data_preprocessed['Absenteeism Time in Hours'] > data_preprocessed['Absenteeism Time in Hours'].median(), 1, 0)

In [11]:
len(targets)

700

In [12]:
data_preprocessed['Excessive Absenteeism'] = targets

In [13]:
data_preprocessed.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pet,Absenteeism Time in Hours,Excessive Absenteeism
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2,0

In [15]:
targets.sum() / targets.shape[0]

0.45571428571428574

In [16]:
data_with_targets = data_preprocessed.drop(['Absenteeism Time in Hours'], axis=1)

In [18]:
data_with_targets is data_preprocessed

False

In [19]:
data_with_targets.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pet,Excessive Absenteeism
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,0

## select the inputs for Regression

In [21]:
data_with_targets.shape

(700, 15)

In [22]:
data_with_targets.iloc[:,:14]

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pet
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,2,179,22,40,237.656,22,1,2,0
696,1,0,0,0,5,2,225,26,28,237.656,24,0,1,2
697,1,0,0,0,5,3,330,16,28,237.656,25,1,0,0
698,0,0,0,1,5,3,235,16,32,237.656,25,1,0,0
699,0,0,0,1,5,3,291,31,40,237.656,25,0,1,1

In [23]:
data_with_targets.iloc[:,:-1]

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pet
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,2,179,22,40,237.656,22,1,2,0
696,1,0,0,0,5,2,225,26,28,237.656,24,0,1,2
697,1,0,0,0,5,3,330,16,28,237.656,25,1,0,0
698,0,0,0,1,5,3,235,16,32,237.656,25,1,0,0
699,0,0,0,1,5,3,291,31,40,237.656,25,0,1,1

In [24]:
unscaled_inputs = data_with_targets.iloc[:,:-1]

## Standardize the data

In [26]:
# from sklearn.preprocessing import StandardScaler

# absenteeism_scaler = StandardScaler()

In [86]:
class CustomScaler(BaseEstimator,TransformerMixin): 
    
    # init or what information we need to declare a CustomScaler object
    # and what is calculated/declared as we do
    
    def __init__(self,columns,copy=True,with_mean=True,with_std=True):
        
        # scaler is nothing but a Standard Scaler object
        self.scaler = StandardScaler(copy,with_mean,with_std)
        # with some columns 'twist'
        self.columns = columns
        self.mean_ = None
        self.var_ = None
        
    
    # the fit method, which, again based on StandardScale
    
    def fit(self, X, y=None):
        self.scaler.fit(X[self.columns], y)
        self.mean_ = np.mean(X[self.columns])
        self.var_ = np.var(X[self.columns])
        return self
    
    # the transform method which does the actual scaling

    def transform(self, X, y=None, copy=None):
        
        # record the initial order of the columns
        init_col_order = X.columns
        
        # scale all features that you chose when creating the instance of the class
        X_scaled = pd.DataFrame(self.scaler.transform(X[self.columns]), columns=self.columns)
        
        # declare a variable containing all information that was not scaled
        X_not_scaled = X.loc[:,~X.columns.isin(self.columns)]
        
        # return a data frame which contains all scaled features and all 'not scaled' features
        # use the original order (that you recorded in the beginning)
        return pd.concat([X_not_scaled, X_scaled], axis=1)[init_col_order]

In [87]:
unscaled_inputs.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value',
       'Day of the Week', 'Transportation Expense', 'Distance to Work',
       'Age', 'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pet'], dtype=object)

In [88]:
columns_to_scale = ['Month Value','Day of the Week', 'Transportation Expense', 'Distance to Work',
       'Age', 'Daily Work Load Average', 'Body Mass Index','Children', 'Pet']

In [89]:
absenteeism_scaler = CustomScaler(columns = columns_to_scale)

In [90]:
absenteeism_scaler.fit(unscaled_inputs)

/opt/anaconda3/lib/python3.7/site-packages/sklearn/base.py:197: FutureWarning: From version 0.24, get_params will raise an AttributeError if a parameter cannot be retrieved as an instance attribute. Previously it would return None.
  FutureWarning)

CustomScaler(columns=['Month Value', 'Day of the Week',
                      'Transportation Expense', 'Distance to Work', 'Age',
                      'Daily Work Load Average', 'Body Mass Index', 'Children',
                      'Pet'],
             copy=None, with_mean=None, with_std=None)

In [91]:
scaled_inputs = absenteeism_scaler.transform(unscaled_inputs)

In [92]:
scaled_inputs

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pet
0,0,0,0,1,0.030796,-0.800950,1.005844,0.412816,-0.536062,-0.806331,0.767431,0,0.880469,0.268487
1,0,0,0,0,0.030796,-0.800950,-1.574681,-1.141882,2.130803,-0.806331,1.002633,0,-0.019280,-0.589690
2,0,0,0,1,0.030796,-0.232900,-0.654143,1.426749,0.248310,-0.806331,1.002633,0,-0.919030,-0.589690
3,1,0,0,0,0.030796,0.335149,0.854936,-1.682647,0.405184,-0.806331,-0.643782,0,0.880469,-0.589690
4,0,0,0,1,0.030796,0.335149,1.005844,0.412816,-0.536062,-0.806331,0.767431,0,0.880469,0.268487
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,-0.568019,-0.232900,-0.654143,-0.533522,0.562059,-0.853789,-1.114186,1,0.880469,-0.589690
696,1,0,0,0,-0.568019,-0.232900,0.040034,-0.263140,-1.320435,-0.853789,-0.643782,0,-0.019280,1.126663
697,1,0,0,0,-0.568019,0.335149,1.624567,-0.939096,-1.320435,-0.853789,-0.408580,1,-0.919030,-0.589690
698,0,0,0,1,-0.568019,0.335149,0.190942,-0.939096,-0.692937,-0.853789,-0.408580,1,-0.919030,-0.589690
699,0,0,0,1,-0.568019,0.335149,1.036026,0.074838,0.562059,-0.853789,-0.408580,0,-0.019280,0.268487

In [93]:
scaled_inputs.shape

(700, 14)

## Split Data into Train & Test and Shuffle

In [94]:
from sklearn.model_selection import train_test_split

## Split

In [95]:
train_test_split(scaled_inputs, targets)

[     Reason_1  Reason_2  Reason_3  Reason_4  Month Value  Day of the Week  \
 546         1         0         0         0     1.228426        -0.800950
 225         1         0         0         0    -0.268611        -1.368999
 198         0         0         1         0    -0.867426        -0.800950
 193         0         0         0         1     0.330204         0.335149
 464         0         0         0         1     0.030796         0.903199
 ..        ...       ...       ...       ...          ...              ...
 187         1         0         0         0    -0.867426        -0.232900
 287         1         0         0         0     0.629611        -1.368999
 478         0         0         0         1     0.030796         0.335149
 108         0         0         0         1     1.527833        -0.800950
 498         0         0         0         1    -0.568019        -0.800950

      Transportation Expense  Distance to Work       Age  \
 546               -1.574681         -1.344669  0.091435
 225               -0.654143          1.426749  0.248310
 198                1.005844          0.412816 -0.536062
 193                1.036026          0.074838  0.562059
 464                1.624567         -0.939096 -1.320435
 ..                      ...               ...       ...
 187                0.356940         -0.330735  0.718933
 287                1.036026          0.074838  0.562059
 478                1.036026          0.074838  0.562059
 108                0.040034         -0.263140 -1.320435
 498               -1.016322         -1.209478 -0.379188

      Daily Work Load Average  Body Mass Index  Education  Children       Pet
 546                -0.082083         0.297027          0 -0.919030 -0.589690
 225                 2.644155         1.002633          0 -0.919030 -0.589690
 198                 1.366488         0.767431          0  0.880469  0.268487
 193                 1.366488        -0.408580          0 -0.019280  0.268487
 464                -1.037971        -0.408580          1 -0.919030 -0.589690
 ..                       ...              ...        ...       ...       ...
 187                 1.366488        -0.878984          0 -0.919030 -0.589690
 287                 0.560476        -0.408580          0 -0.019280  0.268487
 478                -1.037971        -0.408580          0 -0.019280  0.268487
 108                -0.262439        -0.643782          0 -0.019280  1.126663
 498                -0.251187        -0.408580          0  0.880469 -0.589690

 [525 rows x 14 columns],
      Reason_1  Reason_2  Reason_3  Reason_4  Month Value  Day of the Week  \
 195         0         0         0         1    -0.867426         0.903199
 242         0         0         0         1     0.030796         0.903199
 139         1         0         0         0     0.929019         2.039298
 670         0         0         0         1    -0.867426        -0.800950
 24          0         0         1         0     0.330204        -1.368999
 ..        ...       ...       ...       ...          ...              ...
 105         0         0         0         1     0.629611         1.471248
 203         0         0         0         0    -0.867426        -1.368999
 231         1         0         0         0     0.330204         1.471248
 37          1         0         0         0     0.330204         0.335149
 424         1         0         0         0    -0.867426        -0.232900

      Transportation Expense  Distance to Work       Age  \
 195                1.036026          0.074838  0.562059
 242               -1.016322         -1.209478 -0.379188
 139               -0.654143          1.426749  0.248310
 670               -1.016322         -1.209478 -0.379188
 24                 1.005844          0.412816 -0.536062
 ..                      ...               ...       ...
 105                2.092381          1.494345 -1.320435
 203                0.190942         -0.060353  1.817054
 231               -1.574681         -1.141882  2.130803
 37                 1.036026          1.359154 -0.692937
 424               -1.574681         -1.344669  0.091435

      Daily Work Load Average  Body Mass Index  Education  Children       Pet
 195                 1.366488        -0.408580          0 -0.019280  0.268487
 242                 0.087771        -0.408580          0  0.880469 -0.589690
 139                 0.769711         1.002633          0 -0.919030 -0.589690
 670                -0.637953        -0.408580          0  0.880469 -0.589690
 24                 -1.647399         0.767431          0  0.880469  0.268487
 ..                       ...              ...        ...       ...       ...
 105                -0.262439         0.061825          0 -0.019280  2.843016
 203                 1.366488         1.473038          0 -0.019280  3.701192
 231                 2.644155         1.002633          0 -0.019280 -0.589690
 37                 -1.647399        -0.878984          0 -0.919030 -0.589690
 424                -0.809957         0.297027          0 -0.919030 -0.589690

 [175 rows x 14 columns],
 array([1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0,
        0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1,
        0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1,
        1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
        1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0,
        0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0,
        0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1,
        1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1,
        0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0,
        0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0,
        1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0,
        0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1,
        1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0,
        1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0,
        0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0,
        1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0,
        1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0,
        0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0,
        0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1,
        1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1,
        1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
        1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0]),
 array([0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0,
        0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0,
        0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1,
        1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1,
        1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0,
        1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0,
        1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0])]

In [96]:
x_train, x_test, y_train, y_test = train_test_split(scaled_inputs, targets, train_size = 0.8, random_state = 20)

In [97]:
print(x_train.shape, y_train.shape)

(560, 14) (560,)

In [98]:
print(x_test.shape, y_test.shape)

(140, 14) (140,)

## Logistic Regression with Sklearn

In [99]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

## Trainign the model

In [100]:
reg = LogisticRegression()

In [101]:
reg.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [102]:
reg.score(x_train, y_train)

0.7660714285714286

## Manually Check the accuracy

In [103]:
model_outputs = reg.predict(x_train)
model_outputs

array([0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 1, 1, 1, 0, 0, 0, 0])

In [104]:
y_train

array([0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0])

In [105]:
model_outputs == y_train

array([ True,  True, False,  True,  True,  True,  True,  True,  True,
        True, False,  True, False, False,  True,  True,  True,  True,
       False,  True, False,  True, False, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
       False, False, False, False,  True, False,  True,  True, False,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True, False,  True, False,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
       False,  True, False,  True,  True, False, False, False,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
       False,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True, False,
        True, False,  True, False,  True,  True,  True,  True, False,
       False, False,  True,  True, False,  True,  True,  True,  True,
        True, False,  True, False,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True, False,  True, False,
       False,  True,  True,  True,  True,  True,  True,  True, False,
        True, False,  True, False,  True,  True,  True,  True, False,
        True, False, False,  True,  True,  True,  True,  True, False,
       False, False,  True, False,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False, False,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True, False, False,
       False,  True,  True,  True,  True, False,  True, False,  True,
       False,  True,  True,  True,  True,  True, False,  True, False,
       False,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True, False, False,  True, False,  True,  True,  True,
        True,  True, False,  True,  True, False,  True,  True, False,
       False, False,  True,  True,  True,  True,  True,  True, False,
        True,  True,  True, False, False,  True,  True,  True, False,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True, False,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True, False,  True, False,  True, False,  True, False,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True, False,  True,  True,  True,
        True,  True,  True, False,  True,  True, False,  True, False,
        True,  True,  True,  True,  True, False, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
       False,  True,  True,  True, False, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True, False, False,  True,  True,
       False,  True,  True,  True,  True,  True,  True, False, False,
        True,  True, False,  True,  True,  True,  True, False,  True,
        True,  True,  True, False, False,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True, False,  True,  True,
       False, False, False,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True, False,  True,
       False,  True])

In [106]:
np.sum(model_outputs == y_train)

429

In [107]:
model_outputs.shape[0]

560

In [108]:
np.sum(model_outputs == y_train) / model_outputs.shape[0]

0.7660714285714286

## Finding the intercept and coefficients

In [109]:
reg.intercept_

array([-1.60991897])

In [110]:
reg.coef_

array([[ 2.78809595,  0.92273475,  3.10358519,  0.81724476,  0.01379249,
        -0.07594179,  0.62737945, -0.02990801, -0.17344994, -0.02273184,
         0.2816181 , -0.27058935,  0.36063506, -0.27446609]])

In [111]:
feature_name = unscaled_inputs.columns.values

In [112]:
feature_name

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value',
       'Day of the Week', 'Transportation Expense', 'Distance to Work',
       'Age', 'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pet'], dtype=object)

In [113]:
summary_table = pd.DataFrame(columns=['Feature name'], data = feature_name)
summary_table['Coefficient'] = np.transpose(reg.coef_)

summary_table

               Feature name  Coefficient
0                  Reason_1     2.788096
1                  Reason_2     0.922735
2                  Reason_3     3.103585
3                  Reason_4     0.817245
4               Month Value     0.013792
5           Day of the Week    -0.075942
6    Transportation Expense     0.627379
7          Distance to Work    -0.029908
8                       Age    -0.173450
9   Daily Work Load Average    -0.022732
10          Body Mass Index     0.281618
11                Education    -0.270589
12                 Children     0.360635
13                      Pet    -0.274466

In [114]:
summary_table.index= summary_table.index +1
summary_table.loc[0] = ['Intercept', reg.intercept_[0]]
summary_table = summary_table.sort_index()
summary_table

               Feature name  Coefficient
0                 Intercept    -1.609919
1                  Reason_1     2.788096
2                  Reason_2     0.922735
3                  Reason_3     3.103585
4                  Reason_4     0.817245
5               Month Value     0.013792
6           Day of the Week    -0.075942
7    Transportation Expense     0.627379
8          Distance to Work    -0.029908
9                       Age    -0.173450
10  Daily Work Load Average    -0.022732
11          Body Mass Index     0.281618
12                Education    -0.270589
13                 Children     0.360635
14                      Pet    -0.274466

## Intercepting the coefficients

In [115]:
summary_table['Odds_ratio'] = np.exp(summary_table.Coefficient)
summary_table

               Feature name  Coefficient  Odds_ratio
0                 Intercept    -1.609919    0.199904
1                  Reason_1     2.788096   16.250049
2                  Reason_2     0.922735    2.516162
3                  Reason_3     3.103585   22.277678
4                  Reason_4     0.817245    2.264253
5               Month Value     0.013792    1.013888
6           Day of the Week    -0.075942    0.926870
7    Transportation Expense     0.627379    1.872697
8          Distance to Work    -0.029908    0.970535
9                       Age    -0.173450    0.840759
10  Daily Work Load Average    -0.022732    0.977525
11          Body Mass Index     0.281618    1.325273
12                Education    -0.270589    0.762930
13                 Children     0.360635    1.434240
14                      Pet    -0.274466    0.759978

In [117]:
summary_table.sort_values('Odds_ratio', ascending= False)

               Feature name  Coefficient  Odds_ratio
3                  Reason_3     3.103585   22.277678
1                  Reason_1     2.788096   16.250049
2                  Reason_2     0.922735    2.516162
4                  Reason_4     0.817245    2.264253
7    Transportation Expense     0.627379    1.872697
13                 Children     0.360635    1.434240
11          Body Mass Index     0.281618    1.325273
5               Month Value     0.013792    1.013888
10  Daily Work Load Average    -0.022732    0.977525
8          Distance to Work    -0.029908    0.970535
6           Day of the Week    -0.075942    0.926870
9                       Age    -0.173450    0.840759
12                Education    -0.270589    0.762930
14                      Pet    -0.274466    0.759978
0                 Intercept    -1.609919    0.199904

## Test The Model

In [118]:
reg.score(x_test, y_test)

0.7571428571428571

In [120]:
predicted_prob = reg.predict_proba(x_test)

In [121]:
predicted_prob

array([[0.75835265, 0.24164735],
       [0.62498802, 0.37501198],
       [0.45440874, 0.54559126],
       [0.77426   , 0.22574   ],
       [0.07523779, 0.92476221],
       [0.28681936, 0.71318064],
       [0.30073948, 0.69926052],
       [0.11193452, 0.88806548],
       [0.75347284, 0.24652716],
       [0.75760515, 0.24239485],
       [0.49756376, 0.50243624],
       [0.18139028, 0.81860972],
       [0.06978241, 0.93021759],
       [0.67883884, 0.32116116],
       [0.27957168, 0.72042832],
       [0.49797848, 0.50202152],
       [0.51589736, 0.48410264],
       [0.55051804, 0.44948196],
       [0.38313924, 0.61686076],
       [0.05676825, 0.94323175],
       [0.73363565, 0.26636435],
       [0.76663108, 0.23336892],
       [0.44371138, 0.55628862],
       [0.46099097, 0.53900903],
       [0.22525807, 0.77474193],
       [0.7535073 , 0.2464927 ],
       [0.49490369, 0.50509631],
       [0.87493323, 0.12506677],
       [0.23623712, 0.76376288],
       [0.75882465, 0.24117535],
       [0.60081607, 0.39918393],
       [0.27952325, 0.72047675],
       [0.31768058, 0.68231942],
       [0.49646002, 0.50353998],
       [0.76663108, 0.23336892],
       [0.42215072, 0.57784928],
       [0.73976505, 0.26023495],
       [0.24256089, 0.75743911],
       [0.54649569, 0.45350431],
       [0.4096344 , 0.5903656 ],
       [0.74800515, 0.25199485],
       [0.54808859, 0.45191141],
       [0.75763566, 0.24236434],
       [0.60562379, 0.39437621],
       [0.1969363 , 0.8030637 ],
       [0.36259111, 0.63740889],
       [0.26180575, 0.73819425],
       [0.75017382, 0.24982618],
       [0.73330294, 0.26669706],
       [0.78460345, 0.21539655],
       [0.48137697, 0.51862303],
       [0.6938123 , 0.3061877 ],
       [0.31025326, 0.68974674],
       [0.73922913, 0.26077087],
       [0.15941207, 0.84058793],
       [0.5803404 , 0.4196596 ],
       [0.08516926, 0.91483074],
       [0.70599301, 0.29400699],
       [0.68521368, 0.31478632],
       [0.69002769, 0.30997231],
       [0.26765618, 0.73234382],
       [0.33544163, 0.66455837],
       [0.71204457, 0.28795543],
       [0.21386141, 0.78613859],
       [0.75086698, 0.24913302],
       [0.75628663, 0.24371337],
       [0.92505348, 0.07494652],
       [0.75129796, 0.24870204],
       [0.23498776, 0.76501224],
       [0.67462428, 0.32537572],
       [0.74862928, 0.25137072],
       [0.68631606, 0.31368394],
       [0.10511333, 0.89488667],
       [0.55168538, 0.44831462],
       [0.38773271, 0.61226729],
       [0.75882465, 0.24117535],
       [0.2216163 , 0.7783837 ],
       [0.25597456, 0.74402544],
       [0.27207097, 0.72792903],
       [0.34757762, 0.65242238],
       [0.73177899, 0.26822101],
       [0.9180725 , 0.0819275 ],
       [0.72049191, 0.27950809],
       [0.29495758, 0.70504242],
       [0.54043677, 0.45956323],
       [0.875313  , 0.124687  ],
       [0.30337938, 0.69662062],
       [0.46952979, 0.53047021],
       [0.77974035, 0.22025965],
       [0.288293  , 0.711707  ],
       [0.81368121, 0.18631879],
       [0.87773172, 0.12226828],
       [0.73741706, 0.26258294],
       [0.76473812, 0.23526188],
       [0.77309521, 0.22690479],
       [0.1150741 , 0.8849259 ],
       [0.76915771, 0.23084229],
       [0.24586819, 0.75413181],
       [0.76184464, 0.23815536],
       [0.78779776, 0.21220224],
       [0.39654347, 0.60345653],
       [0.27091872, 0.72908128],
       [0.29583756, 0.70416244],
       [0.32266833, 0.67733167],
       [0.56185286, 0.43814714],
       [0.56404725, 0.43595275],
       [0.77346062, 0.22653938],
       [0.12892339, 0.87107661],
       [0.25144123, 0.74855877],
       [0.85374601, 0.14625399],
       [0.91861095, 0.08138905],
       [0.0880393 , 0.9119607 ],
       [0.33613288, 0.66386712],
       [0.59535944, 0.40464056],
       [0.42899694, 0.57100306],
       [0.38637592, 0.61362408],
       [0.23468179, 0.76531821],
       [0.16657182, 0.83342818],
       [0.43311316, 0.56688684],
       [0.71205789, 0.28794211],
       [0.76899109, 0.23100891],
       [0.86661565, 0.13338435],
       [0.17751666, 0.82248334],
       [0.48663001, 0.51336999],
       [0.74773895, 0.25226105],
       [0.70374344, 0.29625656],
       [0.77160873, 0.22839127],
       [0.85635247, 0.14364753],
       [0.31713549, 0.68286451],
       [0.72081516, 0.27918484],
       [0.36903957, 0.63096043],
       [0.76264087, 0.23735913],
       [0.76662114, 0.23337886],
       [0.69768138, 0.30231862],
       [0.71583262, 0.28416738],
       [0.42354216, 0.57645784],
       [0.54705429, 0.45294571],
       [0.69748346, 0.30251654],
       [0.73757517, 0.26242483],
       [0.52430322, 0.47569678]])

In [122]:
predicted_prob.shape

(140, 2)

In [123]:
predicted_prob[:,1]

array([0.24164735, 0.37501198, 0.54559126, 0.22574   , 0.92476221,
       0.71318064, 0.69926052, 0.88806548, 0.24652716, 0.24239485,
       0.50243624, 0.81860972, 0.93021759, 0.32116116, 0.72042832,
       0.50202152, 0.48410264, 0.44948196, 0.61686076, 0.94323175,
       0.26636435, 0.23336892, 0.55628862, 0.53900903, 0.77474193,
       0.2464927 , 0.50509631, 0.12506677, 0.76376288, 0.24117535,
       0.39918393, 0.72047675, 0.68231942, 0.50353998, 0.23336892,
       0.57784928, 0.26023495, 0.75743911, 0.45350431, 0.5903656 ,
       0.25199485, 0.45191141, 0.24236434, 0.39437621, 0.8030637 ,
       0.63740889, 0.73819425, 0.24982618, 0.26669706, 0.21539655,
       0.51862303, 0.3061877 , 0.68974674, 0.26077087, 0.84058793,
       0.4196596 , 0.91483074, 0.29400699, 0.31478632, 0.30997231,
       0.73234382, 0.66455837, 0.28795543, 0.78613859, 0.24913302,
       0.24371337, 0.07494652, 0.24870204, 0.76501224, 0.32537572,
       0.25137072, 0.31368394, 0.89488667, 0.44831462, 0.61226729,
       0.24117535, 0.7783837 , 0.74402544, 0.72792903, 0.65242238,
       0.26822101, 0.0819275 , 0.27950809, 0.70504242, 0.45956323,
       0.124687  , 0.69662062, 0.53047021, 0.22025965, 0.711707  ,
       0.18631879, 0.12226828, 0.26258294, 0.23526188, 0.22690479,
       0.8849259 , 0.23084229, 0.75413181, 0.23815536, 0.21220224,
       0.60345653, 0.72908128, 0.70416244, 0.67733167, 0.43814714,
       0.43595275, 0.22653938, 0.87107661, 0.74855877, 0.14625399,
       0.08138905, 0.9119607 , 0.66386712, 0.40464056, 0.57100306,
       0.61362408, 0.76531821, 0.83342818, 0.56688684, 0.28794211,
       0.23100891, 0.13338435, 0.82248334, 0.51336999, 0.25226105,
       0.29625656, 0.22839127, 0.14364753, 0.68286451, 0.27918484,
       0.63096043, 0.23735913, 0.23337886, 0.30231862, 0.28416738,
       0.57645784, 0.45294571, 0.30251654, 0.26242483, 0.47569678])